<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="assets/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>This platform brings order and deligence in the eat outs at NextGen mall</h3>
          <p class="fst-italic">
            Several east outs and food outlest have registered with us. As our esteemed client, all you have to do is select your desired restourant,
            your preferred sittign sport, and make an order. Your order will be brought to you at your table.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i>A variety of food outlest to be selected from, with different cuisines.</li>
            <li><i class="bi bi-check-circle"></i>Make an order 30 minutes befor you get to the mall.</li>
            <li><i class="bi bi-check-circle"></i>Order a take away or enjoy your meal with us, at one of our comfotable spots.</li>
          </ul>
          <p>
         
          </p>
        </div>
      </div>

    </div>
  </section>
