<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Mr. Odero Oluoch</h2>
                <p><span>Department:</span> Executive</p>
                <p><span>Post:</span> Manager</p>
                <p><span>Contact:</span> +254 725 297 793</p>
                <p><span>Email:</span> odero.oluoch@gmailcom</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Ms. Ong'eye Quienzy</h2>
                <p><span>Department:</span> Human Resource</p>
                <p><span>Post:</span> Assistant manager</p>
                <p><span>Contact:</span> +254 723 737 984</p>
                <p><span>Email:</span> queen.ongeye@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2>Mr. Joseph Kabue</h2>
                <p><span>Department:</span> Management</p>
                <p><span>Post:</span> In-store Manager</p>
                <p><span>Contact:</span> +254 710 009 145</p>
                <p><span>Email:</span> kabueJoseph@gmail.com</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>Ms. Serah Gathoni</h2>
                <p><span>Department:</span> Finance</p>
                <p><span>Post:</span> Assistant Accountant</p>
                <p><span>Contact:</span> +254 723 567 097</p>
                <p><span>Email:</span> gathoni@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h2>Mr. Allan Mugure</h2>
                <p><span>Department:</span> Design</p>
                <p><span>Post:</span> Manager</p>
                <p><span>Contact:</span> +254 704 237 890</p>
                <p><span>Email:</span> mugure-allan@gmail.com</p>
            </div>
        </div>
    </div>
</div>