
<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why Choose Our Services</p>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>01</span>
            <h4>Decorum</h4>
            <p>
              We are bringing decorum to the eating indurssy at NextGen mall, allowing the clinet
              the chance to select the food service he or she wants.
              </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span>02</span>
            <h4>Convinience</h4>
            <p>You are able to conveniently order food 30 mintes before you get to the mall. This
              saves you a lot of time that would have been spent waiting.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span>03</span>
            <h4>Quality service</h4>
            <p>Healthy competition among our food oultes and service providers has continually 
              lead to a great improvement of hte services we offer. </p>
          </div>
        </div>

      </div>

    </div>
  </section>