<div class="form-container">
  <h1>Welcome..</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
         <div>
          <h2>LOG IN</h2>

          <div class="form-floating mb-3">
            <input type="email" class="form-control txt" id="floatingInput" placeholder="name@example.com" #emailSignUp>
            <label for="floatingInput">Email address</label>
          </div>

          <div class="form-floating">
            <input type="password" class="form-control txt" id="floatingPassword" placeholder="Password" #passwordSignUp>
            <label for="floatingPassword">Password</label>
          </div>

          <div class="btn-click">
            <button (click)="logIn(emailSignUp.value, passwordSignUp.value)" class="btn">Log In</button>
          </div>
          <div>
          <p>Don't have an account?<a [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign up..</a></p>
          </div>    
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-logout *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-logout>
